body {
    margin: 0;
    height: 100vh;
}

.gif_container {
    width: 100%;
    height: 100vh;
}

.gif_container img {
    width: 100%;
    height: 100%;
    object-fit: cover;   
    display: block;
}


