body {
    margin: 0;
    height: 100vh;
    overflow: hidden; /* prevents scroll */
}

.gif_container {
    width: 100%;
    height: 100vh;
}

.gif_container img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* makes image fill without distortion */
    display: block;
}
